<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Blazor.styles.css" />
    <HeadOutlet @rendermode="@InteractiveAuto" />
</head>

<body>
    <Routes @rendermode="@InteractiveAuto" />
    <script src="_framework/blazor.web.js"></script>
</body>
<script>
    window.blazor = {
        getCookie: function (name) {
            var value = '; ' + decodeURIComponent(document.cookie);
            var parts = value.split('; ' + name + '=');
            if (parts.length == 2) return parts.pop().split(';').shift();
        },
          getCulture: function () {
                    var cultureCookie = blazor.getCookie('.AspNetCore.Culture');
                    var uiCulture = cultureCookie
                        ? cultureCookie.split('|').pop().split('=').pop()
                        : null;
                     return uiCulture || 'en-US';
  },
    }
</script>

</html>
